@page "/roles/editar/{rolId:int}"
@inject IHttpServicio http
@inject NavigationManager navigationManager
<h3>Editar Rol</h3>

<FormRol rol="rol" onValidSubmit="Grabar" onCancel="Cancelar" />

@code {
    private Rol rol = new();
    [Parameter] public int rolId { get; set; }
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostar();
    }

    private async Task Mostar()
    {
        var respuesta = await http.Get<Rol>($"api/Roles/{rolId}");
        if (!respuesta.Error)
        {
            rol = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private async Task Grabar()
    {
        var respuesta = await http.Put<Rol>($"api/roles/{rolId}",
                                            rol);

        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }

        navigationManager.NavigateTo("/roles");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/roles");
    }

}
