@page "/roles"
@inject IHttpServicio http

<PageTitle>ROLES</PageTitle>

<HeadContent>
    <meta name="description" content="Listado de Roles" />
</HeadContent>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="/css/Estilos/ListaRoles.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="tituloBtn">
        <h3>Lista de Roles</h3>
        <a class="btn btn-primary btnCrear" href="roles/crear">Crear Rol</a>
    </div>

    <table class="fuente">
        <tr>
            <th>NombreRol</th>
        </tr>

        @if (Error)
        {
            <tr>@Mensaje</tr>
        }
        else
        {
            @if (roles == null)
            {
                <tr>Cargando...</tr>
            }
            else if (roles.Count == 0)
            {
                <tr>No existen datos.</tr>
            }
            else
            {
                foreach (var item in roles)
                {
                    <tr>
                        <td>@item.NombreRol</td>
                        <td>
                            <a class="btnEditar"
                               href="roles/editar/@item.Id">
                                <i class='bx bxs-edit-alt'></i>
                                @* Editar *@
                            </a>
                        </td>
                        <td>
                            <a class="btnBorrar"
                            @onclick="()=>Eliminar(item)">
                                <i class='bx bxs-trash'></i>
                                @* Borrar *@
                            </a>
                        </td>
                    </tr>
                }
            }
        }
    </table>

    <Confirmacion @ref="confirmacion"
                  verCancelar="true"
                  verOk="true"
                  textOk="Aceptar"
                  Titulo="Borrar especialidad"
                  onCancel="Cancelar"
                  onConfirm="Borrar">
        <div>
            <p>Está por borrar el rol @RolBorrar.NombreRol</p>
            <br />
            <p>¿Está seguro que desea continuar?</p>
        </div>
    </Confirmacion>
</body>

@code {
    Confirmacion confirmacion;

    List<Rol>? roles;
    bool Error = false;
    string Mensaje = "";
    Rol RolBorrar;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        roles = null;
        var respuesta = await http.Get<List<Rol>>("api/Roles");
        Error = respuesta.Error;
        if (!respuesta.Error)
        {
            roles = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        RolBorrar = null;
    }

    private async Task Eliminar(Rol rolBorrar)
    {
        RolBorrar = rolBorrar;
        confirmacion.Ver();
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/roles/{RolBorrar.Id}");
        if (respuesta.Error)
        {
            var body = "Error, no se puede borrar el rol";
        }

        Cancelar();
        await Leer();
    }

}
