@page "/"

<PageTitle>INICIO</PageTitle>

<div class="text-center">
    <h1>¡Bienvenido!</h1>
    <p> En esta aplicación podra gestionar sus pagos.</p>
</div>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
