@page "/proveedores/crear"
@inject IHttpServicio http
@inject NavigationManager navigationManager

<body>
    <h3>Nuevo Proveedor</h3>

    <FormProveedor proveedor="proveedor" onValidSubmit="Grabar" onCancel="Cancelar" />
</body>

@code {
    private Proveedor proveedor = new Proveedor();

    private async Task Grabar()
    {
        ProveedorDTO proveedorDTO = new()
            {
                Nombre = proveedor.Nombre,
                Apellido = proveedor.Apellido,
                RazonSocial = proveedor.RazonSocial,
                Telefono = proveedor.Telefono
            };
        var httpRespuesta = await http.Post<ProveedorDTO>("api/Proveedores", proveedorDTO);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }

        navigationManager.NavigateTo("/proveedores");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/proveedores");
    }
}